<?xml version="1.0" encoding="utf-8" ?>
<odoo>
    <!--Root menu-->

    <menuitem
        id="menu_erplibre_devops"
        name="Erplibre DevOps"
        sequence="20"
        web_icon="erplibre_devops,static/description/icon.png"
    />

    <!--Sub menu-->

    <menuitem id="menu_build" name="Build" sequence="5" parent="menu_erplibre_devops" />

    <menuitem id="menu_code" name="Code" sequence="4" parent="menu_erplibre_devops" />

    <menuitem id="menu_config" name="Configuration" sequence="100" parent="menu_erplibre_devops" />

    <menuitem id="menu_devops" name="DevOps" sequence="1" parent="menu_erplibre_devops" />

    <menuitem id="menu_test" name="Test" sequence="6" parent="menu_erplibre_devops" />

    <menuitem id="menu_code_cg" name="CG" sequence="1" parent="menu_code" />

    <menuitem id="menu_code_ide" name="IDE" sequence="2" parent="menu_code" />

    <menuitem id="menu_process" name="Process" sequence="5" parent="menu_devops" />

    <!--Child menu-->

    <menuitem
        id="erplibre_devops_config_settings_menu_action"
        name="Settings"
        action="erplibre_devops_config_settings_action"
        sequence="1"
        parent="menu_config"
    />

    <menuitem
        id="menu_code_generator"
        name="Project"
        action="devops_cg_code_generator_action_window"
        sequence="2"
        parent="menu_code_cg"
    />

    <menuitem
        id="menu_code_generator_module"
        name="Module"
        action="devops_cg_module_code_generator_module_action_window"
        sequence="3"
        parent="menu_code_cg"
    />

    <menuitem
        id="menu_code_generator_module_model"
        name="Model"
        action="devops_cg_model_code_generator_module_model_action_window"
        sequence="4"
        parent="menu_code_cg"
    />

    <menuitem
        id="menu_code_generator_module_model_field"
        name="Field"
        action="devops_cg_field_code_generator_module_model_field_action_window"
        sequence="5"
        parent="menu_code_cg"
    />

    <menuitem
        id="menu_code_generator_new_project"
        name="New project"
        action="devops_new_project_action_window"
        sequence="1"
        parent="menu_code_cg"
    />

    <menuitem
        id="menu_code_generator_test"
        name="Test"
        action="action_devops_test_conf_form"
        sequence="1"
        parent="menu_test"
    />

    <menuitem
        id="menu_code_ide_breakpoint"
        name="IDE breakpoint"
        action="devops_ide_breakpoint_action_window"
        sequence="2"
        parent="menu_code_ide"
    />

    <menuitem
        id="menu_code_ide_pycharm"
        name="IDE Pycharm"
        action="devops_ide_pycharm_action_window"
        sequence="1"
        parent="menu_code_ide"
    />

    <menuitem
        id="menu_code_log_makefile_target"
        name="Makefile target"
        action="devops_log_makefile_target_action_window"
        sequence="3"
        parent="menu_code"
    />

    <menuitem
        id="menu_config_generator_new_project_stage"
        name="New project Stage"
        action="devops_cg_new_project_stage_action"
        sequence="2"
        parent="menu_config"
    />

    <menuitem
        id="menu_db_image"
        name="Db image"
        action="devops_db_image_db_image_action_window"
        sequence="1"
        parent="menu_build"
    />

    <menuitem id="menu_deploy" name="Deploy" sequence="8" parent="menu_erplibre_devops" />

    <menuitem
        id="menu_devops_exec"
        name="Executions"
        action="devops_exec_action_window"
        sequence="5"
        parent="menu_process"
    />

    <menuitem
        id="menu_devops_exec_bundle_error"
        name="Exec bundle"
        action="devops_exec_bundle_action_window"
        sequence="6"
        parent="menu_process"
    />

    <menuitem
        id="menu_devops_exec_error"
        name="Exec error"
        action="devops_exec_error_action_window"
        sequence="7"
        parent="menu_process"
    />

    <menuitem id="menu_monitor" name="Monitor" sequence="10" parent="menu_erplibre_devops" />

    <menuitem id="menu_operate" name="Operate" sequence="9" parent="menu_erplibre_devops" />

    <menuitem id="menu_plan" name="Plan" sequence="3" parent="menu_erplibre_devops" />

    <menuitem id="menu_release" name="Release" sequence="7" parent="menu_erplibre_devops" />

    <menuitem
        id="menu_system_item"
        name="System"
        action="action_devops_check_system_conf_form"
        sequence="4"
        parent="menu_devops"
    />

    <menuitem
        id="menu_workspace_docker_item"
        name="Workspace docker"
        action="action_devops_check_workspace_docker_conf_form"
        sequence="2"
        parent="menu_devops"
    />

    <menuitem
        id="menu_workspace_item"
        name="Workspace"
        action="action_devops_check_workspace_conf_form"
        sequence="1"
        parent="menu_devops"
    />

    <menuitem
        id="menu_workspace_terminal_item"
        name="Workspace terminal"
        action="action_devops_check_workspace_terminal_conf_form"
        sequence="3"
        parent="menu_devops"
    />
</odoo>
